body {
 background-color: white;
}

.header {
  padding: 30px;
  text-align: center;
  background-color: #006699;
  color: white;
  font-size: 30px;
}

#dropZone {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  object-fit: cover;
  min-height: 200px;
  margin-bottom: 20px;
}

#pictures {
  position: relative;
  left: 650px;
  top: 10px;
  margin-bottom: 20px;
  min-height: 200px;
}
#borders {
  border: 5px solid #006699;
}

#bear,
#engulf,
#bull,
#reverse {
  display: none;
  float: inherit;
  border: 5px solid #006699;
}

#affirm {
  visibility: hidden;
  position:absolute;
  z-index: 1;
  left: 5%;
  top: 80%;
  border: 5px solid #2eb82e;
  border-radius: 25px;
}
#sad {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  left: 5%;
  top: 80%;
  border: 5px solid #990000;
  border-radius: 25px;
}
#neutral {
  position: absolute;
  left: 5%;
  top: 80%;
  border: 5px solid #808080;
  border-radius: 25px;
}

#dropBox1,
#dropBox2,
#dropBox3,
#dropBox4 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 380px !important;
  border: 5px solid #006699;
  padding: 1rem;
}

#correct {
  visibility: hidden;
  color: #196619;
  position: absolute;
  left: 45%;
  top: 45%;
  border: 5px solid #70db70;
  border-radius: 25px;
  background-color: #d6f5d6;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  z-index: 1;
}
#incorrect {
  visibility: hidden;
  color: #b30000;
  position: absolute;
  left: 45%;
  top: 45%;
  border: 5px solid #b30000;
  border-radius: 25px;
  background-color: #ffb3b3;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  z-index: 1;
}


/* Change to accomodate scale */
#all {
  -webkit-transform:scale(0.7);
}

p {
  font-size: 30px;
  font-style: bold;
}
p1 {
  position: absolute;
  top: 31%;
  font-size: 30px;
  font-style: bold;
}

.button1 {
  margin: 0;
  position: absolute;
  top: 103%;
  left: 42%;
  font-size: 24px;
  padding: 13px;
  background-color: white;
  border: 5px solid #006699;
}
.button1:hover {
  background-color: #e6f7ff;
}
.button2 {
  margin: 0;
  position: absolute;
  top: 113%;
  left: 47%;
  font-size: 24px;
  padding: 13px;
  background-color: white;
  border: 5px solid #006699;
}
.button2:hover {
  background-color: #e6f7ff;
}

.button3 {
  margin: 0;
  position: relative;
  bottom: 5px;
  left: 15px;
  padding: 13px;
  background-color: #cccccc;
  border: 5px solid #70db70;
  border-radius: 25px;
}
.button3:hover {
  background-color: #70db70;
}
.button4 {
  margin: 0;
  position: relative;
  bottom: 5px;
  left: 15px;
  padding: 13px;
  background-color: #cccccc;
  border: 5px solid #b30000;
  border-radius: 25px;
}
.button4:hover {
  background-color: #ffb3b3;
}
